.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

body {
    background: black;
    margin: 0px;
    padding: 0px;
    user-select: none;
    overflow: hidden;
}

.board {
    margin: 10px;
    background: #f1efef;
    height: 95vh;
    display: flex;
}

.board .column {
    flex: 1;
    border: 1px solid #d8d8d8;
    position: relative;
}

.column .column-header {
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    background-color: #000000bf;
    color: white;
    height: 50px;
}

.board .board-footer {
    text-align: center;
    bottom: 0px;
    width: 100%;
    position: absolute;
    height: 50px;
    background: cornflowerblue;
    display: flex;
}

.board .board-footer .board-footer-action {
    flex: 1;
}

.column .column-content {
    align-items: center;
    justify-content: center;
    height: 85vh;
    overflow: auto;
}

.column .column-content .content {
    min-height: 50px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

.task {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    display: block;
    padding: 10px 15px;
    cursor: move;
    width: 100%;
    word-break: break-all;
}

.task:hover {
    border-left: 5px solid #006a9c;
    border-right: 5px solid #006a9c;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

.column-content ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */

.column-content ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */

.column-content ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.column-content ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */

.column-content ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

@media (min-width: 576px) {
    .add-task-modal .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}

.drag-over {
    background-color: #006a9c;
}

.task-action {
    float: right;
    margin-top: -30px;
    margin-right: -15px;
}

.task-action button {
    width: 21px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 0px;
}