<div class="board">
    <div class="column" style="flex: none;">
        <div class="column-header">
            <h2>
                <i class="fas fa-tasks"></i>
            </h2>
        </div>
        <button class="btn btn-primary column-footer-action" ng-click="addTaskModal()" title="Add new Task">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="column" ng-repeat="column in boardColumns" ng-include="'app/templates/column.html'" drop-data="column" drop="true"
        on-drop="taskChange($index, dragData, dropData)">

    </div>
</div>