<div class="modal-body">
    <form>
        <div class="row">
            <div style="width: 100%;  overflow:auto" ng-bind-html="task.summary | markdown"></div>
        </div>
        <div class="row">
            <div style="width: 100%;
                            height: 150px; overflow:auto" ng-bind-html="task.content | markdown"></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="edit()">Edit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>